*{
padding: 0;
margin: 0;
}
body{
    width: 100%;
    height: auto;
    background-color: hsl(0, 0%, 95%);hite;
    
}


.flex-container {
    display: flex;
    background-color: hsl(0, 0%, 95%);
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 90%;
    width: 70%;
    margin-bottom: 0;
    margin-left: 100px;
    
    

}

.flex-container div {
    padding: 5rem;
    width: 150px;
    height: 350px;
    line-height: 20px;
    align-items: baseline;
    justify-content: center;
    align-content: flex-start;
    text-align:left;
    
}

.sedan{
    background-color: hsl(31, 77%, 52%);
    border-radius: 12px 0px 0px 12px;
}
.suv{
    background-color: hsl(184, 100%, 22%);
}
.lux{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 12px 12px 0px;
}
  input[type=submit]{
    background-color: white;
    border: none;
    border-radius: 25px ;
    width: 150px;
    height: 45px;
    padding: 0px;
    cursor: pointer;
    align-content: center;
    padding: 0px;
    font-size: 15px;
    margin-top: 90px;
    font-weight: bold;
}
h3{
    font-family: 'Big Shoulders Display';
    text-align: left;
    color: hsl(0, 0%, 95%); 
    font-size: 25px;
    font-weight: bolder;
    margin-top: 40px;
}
.text{
    font-family: 'Lexend Deca', sans-serif;
    text-align: left;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 14px;
    margin-top: 40px;
    margin-left: 0;
}
.power{
    color: hsl(184, 100%, 22%);
}
.fuel{
    color:hsl(31, 77%, 52%)
}
.cruise{
    color: hsl(179, 100%, 13%);
}


.flex-container
@media only screen and max-width 600px {
    div{
        flex-direction: column;
        width: full;
    }
}
/* media query is not working yet, paragraph font cannot be found, need to figure out how to center the container on the webpage. */